<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.transactions>
    <defaultSettings timeout="00:05:00" />
  </system.transactions>
  <appSettings>
    <add key="MERCHANT_KEY" value="rZAKq6" />
    <add key="SALT" value="diEVMlUc" />
    <add key="PAYU_BASE_URL" value="https://secure.payu.in/_payment" />
    <add key="action" value="" />
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10" />
    <!--Live-->
    <add key="str" value="data source=172.0.1.108;initial catalog=EDUCOLLEGELIVE-R2; user id=sa;password=MBDtmuXX@224466;Encrypt=False; TrustServerCertificate=true " />
    <add key="strportal" value="data source=172.0.1.108;initial catalog=HRMSPortal;user id=sa;password=MBDtmuXX@224466;Encrypt=False;TrustServerCertificate=true " />
    <!--Test-->
    <!--<add key="str" value="Data Source=172.0.10.149;Initial Catalog=EDUCOLLEGELIVE-R2_250720; User ID=sa;Password=Zorro$*1205; "/>
    <add key="strPortal" value="Data Source=172.0.10.149;Initial Catalog=HRMSPortal_250720;User ID=sa;Password=Zorro$*1205;"/>-->
    <add key="FolderPath" value="~/Files/" />
    <add key="WebReference.VoucherPosting" value="http://172.14.7.107:7047/DynamicsNAV71/WS/TMU/Codeunit/VoucherPosting" />
    <add key="NAVWeb.VoucherPosting" value="http://172.14.7.107:6047/TEST/WS/TMU/Codeunit/VoucherPosting" />
    <add key="WSNAVLIVE_VP.VoucherPosting" value="http://172.0.1.102:8047/TMU/WS/TMU/Codeunit/VoucherPosting" />
    <add key="ReapReference.VoucherPosting" value="http://172.0.1.102:8047/TMU/WS/TMU/Codeunit/VoucherPosting" />
    <add key="ErrorFile" value="H:\\DotnetIntegrationKit\\ErrorMessage.property" />
    <add key="LogFilePath" value="H:\\DotnetIntegrationKit\\Log" />
    <add key="TPSLService" value="https://payments.paynimo.com/PaynimoProxy/services/TransactionLiveDetails" />
    <!--UAT:https://payments.paynimo.com/PaynimoProxy/services/TransactionUATDetails-->
    <add key="IsFixedPath" value="Y" />
    <add key="IsCustomLog" value="N" />
  </appSettings>
  <connectionStrings>
    <!--Test-->
    <!--<add name="TMUCON" connectionString="Data Source=172.0.10.149;Initial Catalog=EDUCOLLEGELIVE-R2_250720; User ID=sa;Password=Zorro$*1205; Connect Timeout=5000;Pooling ='true'; Max Pool Size=5000 " providerName="System.Data.SqlClient"/>
    <add name="HRMSPortalConnectionString" connectionString="Data Source=172.0.10.149;Initial Catalog=HRMSPortal_250720;User ID=sa;Password=Zorro$*1205" providerName="System.Data.SqlClient"/>-->
    <!--live-->
    <add name="HospitalComplaint" connectionString="Data Source=172.0.1.108;Initial Catalog=NAAC_ADV_TEST;User ID=sa;Password=MBDtmuXX@224466;Encrypt=False;TrustServerCertificate=true" providerName="System.Data.SqlClient" />
    <add name="NAAC" connectionString="Data Source=172.0.1.108;Initial Catalog=NAAC;User ID=sa;Password=MBDtmuXX@224466;Encrypt=False;TrustServerCertificate=true" providerName="System.Data.SqlClient" />
    <add name="TMUCON" connectionString="Data Source=172.0.1.108;Initial Catalog=EDUCOLLEGELIVE-R2; User ID=sa;Password=MBDtmuXX@224466; Connect Timeout=5000;pooling=true;Max Pool Size=200;Encrypt=False;TrustServerCertificate=true " providerName="System.Data.SqlClient" />
    <add name="HRMSPortalConnectionString" connectionString="Data Source=172.0.1.108;Initial Catalog=HRMSPortal;User ID=sa;Password=MBDtmuXX@224466;Encrypt=False;TrustServerCertificate=true" providerName="System.Data.SqlClient" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};  Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="1073741824" />
    <customErrors mode="Off" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" />
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.IO.Compression, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Default.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>